SENDGRID_API_KEY=your-sendgrid-api-key
MAIL_FROM=verified-sender@example.com
MAIL_TO=goodnessefe01@icloud.com
FIREBASE_API_KEY=AIzaSyC9HdjTB1B5Cj4QG0ictB9melCVSSB0Zko
FIREBASE_AUTH_DOMAIN=portfoliogoody-6f75c.firebaseapp.com
FIREBASE_DATABASE_URL=https://portfoliogoody-6f75c-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=portfoliogoody-6f75c
FIREBASE_STORAGE_BUCKET=portfoliogoody-6f75c.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1037598964400
FIREBASE_APP_ID=1:1037598964400:web:9befd39f26e523f18cd975